body{
    /*background-color: #6699ff;*/
    background-color: #88a4dd;
    font-family: Arial;
}
header{
    /*background-color: #6699ff;*/
    background-color: #88a4dd;
    font-family: Arial;
}
nav{
    /*background-color: #6699ff;*/
    background-color: #88a4dd;
    font-family: Arial;
}
footer{
    /*background-color: #6699ff;*/
    background-color: #88a4dd;
    font-family: Arial;
    color: whitesmoke;
}

.title{
    font-family: "Bauhaus 93";
    color: black;
    font-size: 96px;
    display: inline-block;
}

.about{
    color: whitesmoke;
    font-size: 24px;
    display: inline-block;
}
.titlesmall{
    color: whitesmoke;
    font-size: 36px;
    display: inline-block;
}

.text{
    color: black;
    background-color: whitesmoke;
    font-size: 24px;
    display: inline-block;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
}

.flex-item + .flex-item {
    margin-left: 20px;
}

canvas + canvas {
    margin-left: 100px;
}
/*** Tabellen *************/

table, td, th{
    background-color: whitesmoke;
    /*border: 1px solid #6699ff;*/
    border: 1px solid #88a4dd;
    text-align: left;
}
table{
    border-collapse: collapse;
    width: 95%;
}
td, th{
    padding: 15px;
}

/** Select Menues **/
select{
    padding: 16px 32px;
    border: 3px solid black;
    color: black;
    background-color: whitesmoke;
    border-radius: 2px;
}

canvas{
    background-color: whitesmoke;
}
/***** Links die aussehen, wie Buttons ***/

a.btn:link, a.btn:visited{
    background-color: whitesmoke;
    color: black;
    border: 3px solid black;
    width: 100px;
    border-radius: 2px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

a.btn:hover, a.btn:active{
    background-color: black;
    color: whitesmoke;
}

/******* Buttons ****************************/
.button {
    border: none;
    color: whitesmoke;
    padding: 16px 32px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonblack {
    background-color: whitesmoke;
    color: black;
    border: 3px solid black;
    border-radius: 2px;
}

.buttonblack:hover {
    background-color: black;
    color: whitesmoke;
}

/**** für Dropdown Menues mit Link, bsp in ArticleStart.html **********/

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 2px;
    color: black;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: black;
    color: whitesmoke;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    border: 3px solid black;
    border-radius: 2px;
}

.dropdown:hover .dropdown-content {
    display: block;
}