body{
    background-color: #6699ff;
    font-family: Arial;
}

.title{
    font-family: "Bauhaus 93";
    color: black;
    font-size: 96px;
    text-align: center;
}

.about{
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-item + .flex-item {
    margin-left: 10px;
}

.button {
    margin-top: 15px;
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}