body{
    /*background-color: #6699ff;*/
    background-color: #88a4dd;
    font-family: Arial;
}
header{
    /*background-color: #6699ff;*/
    background-color: #88a4dd;
    font-family: Arial;
}
nav{
    /*background-color: #6699ff;*/
    background-color: #88a4dd;
    font-family: Arial;
}
footer{
    /*background-color: #6699ff;*/
    background-color: #88a4dd;
    font-family: Arial;
    color: whitesmoke;
}

.title{
    font-family: "Bauhaus 93";
    color: black;
    font-size: 96px;
    display: inline-block;
}

.about{
    color: whitesmoke;
    font-size: 24px;
    display: inline-block;
}
.titlesmall{
    color: whitesmoke;
    font-size: 36px;
    display: inline-block;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
}

.flex-item + .flex-item {
    margin-left: 20px;
}

table, td, th{
    background-color: whitesmoke;
    /*border: 1px solid #6699ff;*/
    border: 1px solid #88a4dd;
    text-align: left;
}
table{
    border-collapse: collapse;
    width: 95%;
}
td, th{
    padding: 15px;
}

a:link, a:visited{
    background-color: whitesmoke;
    color: black;
    border: 3px solid black;
    width: 100px;
    border-radius: 2px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

a:hover, a:active{
    background-color: black;
    color: whitesmoke;
}

/***********************************/
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonblack {
    background-color: whitesmoke;
    color: black;
    border: 3px solid black;
    border-radius: 2px;
}

.buttonblack:hover {
    background-color: black;
    color: whitesmoke;
}