<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<header>
    <img src="MM-2.JPG" width="400">
    <ul>
        <li><a style="color: whitesmoke" href="./">MM</a></li>
        <li><a href="./articleStart">Artikel</a></li>
        <li><a href="./user">Personen</a></li>
        <li><a th:href="@{./chooseKatSel(chooseKatSel=${articleCategory})}">Zurück</a></li>
    </ul>
</header>


<body>

<!-- Trigger/Open The Modal -->
<button style="position: absolute; right: 3%; top: 3%;"
        id="myBtn">&#9432;</button>

<!-- The Modal -->
<div id="articleDetailModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <header>
            <h2 style="color:white"> Hilfe </h2>
            <!-- <span onclick="document.getElementById('myModal').style.display='none'" class="w3-button w3-xlarge w3-display-topright w3-hover-red w3-hover-opacity">&times;</span> -->
        </header>
        <span class="close">&times;</span>
        <p> Im Folgenden sehen Sie eine Analyse zu dem von Ihnen ausgewählten Artikel. </p>
        <p> In der Mitte sehen Sie zwei Charts. Auf der linken Seite ist der Durchschnitts Kommentar Tonfall und Antworten Tonfall des jeweiligen Artikels im Vergleich zu sehen.
            Für die Kommentar-Suche greifen wir hierbei auf zehn Antworten auf Kommentare (answer_tone) und deren Elternkommentare (comment_tone) zu,
            sodass wir pro Artikel 20 Kommentare analysieren. </p>
        <p> Der von Watson bereitgestellte Tone Analyzer erkennt Emotionen und Tonfälle in geschriebenem Text, verwertet diese
            und weist den Kommentaren einzelne Werte zwischen 0 und 1 zu. Diese werden dann zu einem Durchschnitt ausgerechnet und für den jeweiligen Artikel eingetragen. </p>
        <p> In der rechten Chart werden die durschnittlichen Werte der gesamten Kategorie angezeigt.</p>
        <p> Außerdem können Sie sich unter den Charts noch die analysierten Kommentare des Artikels angucken.</p>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("articleDetailModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<div class="grid-container2">

<div class="item1b">
    <p class="about">Details zum Artikel</p> <p class="about" th:text="${articleId}"></p>
    <p class="about">Dieser Artikel gehört zur Kategorie</p> <p class="about" th:text="${articleCategory}"></p><br>
    <p class="about" th:text="${articleTitle}"></p>
</div>
</div>

    <div class="flex item3bb">
        <div>
            <canvas id="caChart" style="width: 80vw"></canvas>
        </div>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
        </script>
        <script>
            var ctx = document.getElementById('caChart').getContext('2d');
            var ctone = [[${ctone}]];
            var avg_ctone = [[${avg_ctone}]];
            var atone = [[${atone}]];
            var avg_atone = [[${avg_atone}]];
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["analytisch", "ärgerlich", "selbstsicher", "ängstlich", "erfreut", "traurig", "zögerlich"],
                    datasets: [{
                        label: "Tonfall der direkten Kommentare",
                        data: Object.keys(ctone).map(function(key) {
                            return ctone[key];}),
                        backgroundColor: '#ff6600',
                    }, {
                        label: "Durchschnitt aller Kommentare aller Artikel dieser Kategorie",
                        data: Object.keys(avg_ctone).map(function (key) {
                            return avg_ctone[key];}),
                        backgroundColor: '#ffa366',
                    }, {
                        label: "Tonfall der Antworten",
                        data: Object.keys(atone).map(function(key) {
                            return atone[key];}),
                        backgroundColor: '#ffcc00',
                    }, {
                        label: "Durchschnitt aller Antworten aller Artikel dieser Kategorie",
                        data: Object.keys(avg_atone).map(function (key) {
                            return avg_atone[key];}),
                        backgroundColor: '#ffe066',
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    responsive: true,
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontSize: 18
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontSize: 18,
                                beginAtZero: true
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: 'Tonfall der Kommentare zu diesem Artikel',
                        fontSize: 24,
                    },
                    legend: {
                        labels: {
                            fontSize: 18,
                        },
                    }}
            });
        </script>
    </div>

<div class="flex item4b">
    <table>
        <tr>
            <th>Kommentare</th>
            <th>Ärger</th>
            <th>Freude</th>
            <th>Trauer</th>
        </tr>
        <tr th:each="comment : ${commentList}">
            <td th:text="${comment.get(0)}"></td>
            <td><p th:text="${comment.get(1)}"></p></td>
            <td><p th:text="${comment.get(2)}"></p></td>
            <td><p th:text="${comment.get(3)}"></p></td>
        </tr>
    </table>
</div>

</div>

</body>
</html>
