<!--das ist die erste Artikel Seite.
gerade nicht in Gebrauch.
 Malin Schultz-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <p class="titlesmall">Artikelanalyse</p>
    <p class="flex about">Wähle hier eine Kategorie aus.</p>
    <div align="right"><a class="btn" href="index.html">zurück</a></div>
</header>

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Kategorie
            <i class="fa fa-caret-down"></i>
        </button>
            <div class="dropdown-content">
                <a th:href="@{/article(name='Kategorie 1')}">Kategorie 1</a>
                <a th:href="@{/article(name='Kategorie 2')}">Kategorie 2</a>
            </div>
    </div>
</div>
<body>

</body>
</html>