<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <p class="titlesmall">Details zum Artikel</p><br><br>
    <p class="about" th:text="${articleName}"> </p>
    <p class="about" th:text="${articleTitle}"></p>
    <div align="right"><a class="btn" th:href="@{./chooseKatSel(chooseKatSel=${articleCategory})}">zurück</a></div>
</header>
<body>
<div class="about">
    <!-- TODO Hier können Infos zum Artikel angezeigt werden.-->
    Dieser Artikel gehört zur Kategorie <p th:text="${articleCategory}"></p>.<br>
</div>

<div class="flex">
    <!--TODO Hier können Charts eingefügt werden. -->
</div>

<div class="flex">
    <!--TODO Hier können Kommentare Angezeigt werden.-->
    <table>
        <tr>
            <th>Kommentare zum Artikel</th>
            <th>Person</th>
        </tr>
        <tr th:each="comment : ${articleComments}">
            <td th:text="${comment}"></td>
            <td><a th:href="@{./userDetail(userDetail=${topUser})}"><p th:text="${topUser}"></p></a></td>
        </tr>
    </table>
</div>

</body>
</html>