<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <p class="titlesmall">Details zum Artikel </p><br><br>
    <p class="about" th:text="${articleTitle}"></p>
    <div align="right"><a class="btn" th:href="@{./chooseKatSel(chooseKatSel=${articleCategory})}">zurück</a></div>
</header>
<body>
<!-- Trigger/Open The Modal -->
<button style="position: absolute; right: 3%; top: 3%;"
        id="myBtn">&#9432;</button>

<!-- The Modal -->
<div id="articleDetailModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <header class="w3-container w3-red w3-display-container">
            <!-- <span onclick="document.getElementById('myModal').style.display='none'" class="w3-button w3-xlarge w3-display-topright w3-hover-red w3-hover-opacity">&times;</span> -->
            <h2>Hilfe</h2>
        </header>
        <span class="close">&times;</span>
        <p> Im Folgenden sehen Sie eine Analyse zu dem von Ihnen ausgewählten Artikel. </p>
        <p> In der Mitte sehen Sie zwei Charts. Auf der linken Seite ist der Durchschnitts Kommentar Tonfall und Antworten Tonfall des jeweiligen Artikels im Vergleich zu sehen.
            Für die Kommentar-Suche greifen wir hierbei auf zehn Antworten auf Kommentare (answer_tone) und deren Elternkommentare (comment_tone) zu,
            sodass wir pro Artikel 20 Kommentare analysieren. Die anderen Bars, die hier angezeigt werden sind die Durchschnittswerte aus allen Kategorien zusammen. </p>
        <p> Der von Watson bereitgestellte Tone Analyzer erkennt Emotionen und Tonfälle in geschriebenem Text, verwertet diese
            und weist den Kommentaren einzelne Werte zwischen 0 und 1 zu. Diese werden dann zu einem Durchschnitt ausgerechnet und für den jeweiligen Artikel eingetragen. </p>
        <p> In der rechten Chart werden die durschnittlichen Werte der gesamten Kategorie angezeigt.</p>
        <p> Außerdem können Sie sich unter den Charts noch die analysierten Kommentare des Artikels angucken und diese nach den drei gegebenen Tones sortieren.</p>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("articleDetailModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<div class="about">
    <!--TODO Hier können Infos zum Artikel angezeigt werden.-->
    Dieser Artikel gehört zur Kategorie <p th:text="${articleCategory}"></p><br>
</div>

<div class="flex">
    <!--TODO Hier können Charts eingefügt werden. -->

</div>
<center> <div style="display: inline-block; width:30%;">
    <canvas id="commentanswertone" width="300" height="300"></canvas>
</div>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
    </script>
    <script>
        var ctx = document.getElementById('commentanswertone').getContext('2d');
        var ctone = [[${ctone}]];
        var atone = [[${atone}]];
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ["Analytical", "Anger", "Confident", "Fear", "Joy", "Sadness", "Tentative"],
                datasets: [{
                    label: "comment_tone",
                    data: Object.keys(ctone).map(function(key) {
                        return ctone[key];}),
                    backgroundColor: 'rgba(255,140,0,1)',
                    borderColor: 'rgb(255,140,0,1)',
                    borderWidth: 1
                }, {
                    label: "answer_tone",
                    data: Object.keys(atone).map(function (key) {
                        return atone[key];}),
                    backgroundColor: 'rgba(32,189,57,1)',
                    borderColor: 'rgba(32,189,57,1)',
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <div class= "flex-item" style="display: inline-block; width:30%;">
        <canvas id="avcommentanswertone" width="300" height="300"></canvas>
    </div>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
    </script>
    <script>
        var ctx = document.getElementById('avcommentanswertone').getContext('2d');
        var av_ctone = [[${av_ctone}]];
        var av_atone = [[${av_atone}]];
        var av_cat_Chart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ["Analytical", "Anger", "Confident", "Fear", "Joy", "Sadness", "Tentative"],
                datasets: [{
                    label: "av_comment_tone",
                    data: Object.keys(av_ctone).map(function(key) {
                        return av_ctone[key];}),
                    backgroundColor: 'rgb(255, 51, 153)',
                    borderColor: 'rgb(255, 51, 153)',
                    borderWidth: 1
                }, {
                    label: "av_answer_tone",
                    data: Object.keys(av_atone).map(function (key) {
                        return av_atone[key];}),
                    backgroundColor: 'rgb(102, 255, 102)',
                    borderColor: 'rgb(102, 255, 102)',
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</center>

<div class="flex">
    <!--TODO Hier können Kommentare angezeigt werden.-->
    <table>
        <tr>
            <th>Kommentare</th>
            <th>Anger</th>
            <th>Joy</th>
            <th>Sadness</th>
        </tr>
        <tr th:each="comment : ${commentList}">
            <td th:text="${comment.get(0)}"></td>
            <td><p th:text="${comment.get(1)}"></p></td>
            <td><p th:text="${comment.get(2)}"></p></td>
            <td><p th:text="${comment.get(3)}"></p></td>
        </tr>
    </table>
</div>

</body>
</html>
