<!--Das ist die Seite, die die Artikel anzeigt.
 Malin Schultz-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <p class="titlesmall">Artikelanalyse zu</p><br><p class="about" th:text="${katName}"></p>
</header>

<body>
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Kategorie
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:each="chooseKatSel : ${katList}"
               th:value="${chooseKatSel.katName}"
               th:utext="${chooseKatSel.katName}" th:href="@{./chooseKatSel(chooseKatSel=${chooseKatSel.katName})}"></a>
        </div>
    </div>
    <a style="float: right;" class="btn" href="./index.html">zurück</a>
</div>
<center>
    <b> Grafische Anzeige zum durchschnittlichen comment_tone zur Kategorie </b>  <br><p class="about" th:text="${katName}"></p>
</center>

<center> <div style="width:30%;">
    <canvas id="myChart" width="300" height="300"></canvas>
</div>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
   <script src="article-chart.js"></script>
</center>

<br><br>
<div class="flex">
    <table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Comment Tone</th>
        <th>Answer Tone</th>
    </tr>
       <tr th:each="Article : ${katArt}">
            <td th:text="${Article.getId()}"></td>
            <td><a th:href="@{${Article.getUrl()}}" target="_blank"><p th:text="${Article.getTitle()}"></p></a></td>
            <td th:utext="${Article.getCTone()}"></td>
            <td th:utext="${Article.getATone()}"></td>
        </tr>
    </table>
</div>
</body>
</html>