<!--Das ist die Seite, die die Artikel anzeigt.
 Malin Schultz-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <p class="titlesmall">Artikelanalyse zu</p><br><p class="about" th:text="${katName}"></p>
</header>

<body>
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Kategorie
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:each="chooseKatSel : ${katList}"
               th:value="${chooseKatSel.katName}"
               th:utext="${chooseKatSel.katName}" th:href="@{./chooseKatSel(chooseKatSel=${chooseKatSel.katName})}"></a>
        </div>
    </div>
    <a style="float: right;" class="btn" href="./index.html">zurück</a>

</div>
<!-- Trigger/Open The Modal -->
<button style="position: absolute; right: 3%; top: 3%;"
        id="myBtn">&#9432;</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <header class="w3-container w3-red w3-display-container">
            <!-- <span onclick="document.getElementById('myModal').style.display='none'" class="w3-button w3-xlarge w3-display-topright w3-hover-red w3-hover-opacity">&times;</span> -->
            <h2>Hilfe</h2>
        </header>
        <span class="close">&times;</span>
        <p> Wählen Sie hier eine Kategorie, von der Sie genauere Informationen und Analyseergebnisse haben wollen, aus. Klicken Sie dafür auf eine der ID's. </p>
        <p> Im Folgenden sehen Sie eine erste Analyse zu den Artikeln der ausgewählten Kategorie. </p>
        <p> Sie können sich die Artikel nach den drei gegebenen Tones sortieren lassen.</p>
        <p> Außerdem ist ganz oben eine Chart, die den Durchschnitts Kommentar Tonfall und Antworten Tonfall der jeweiligen Kommentare der Artikel vergleicht.
            Für die Kommentar-Suche greifen wir hierbei auf zehn Antworten auf Kommentare (answer_tone) und deren Elternkommentare (comment_tone) zu,
            sodass wir pro Artikel 20 Kommentare analysieren. Die anderen Bars, die hier angezeigt werden sind die Durchschnittswerte aus allen Kategorien zusammen. </p>
        <p> Der von Watson bereitgestellte Tone Analyzer erkennt Emotionen und Tonfälle in geschriebenem Text, verwertet diese
            und weist den Kommentaren einzelne Werte zwischen 0 und 1 zu. Diese werden dann zu einem Durchschnitt ausgerechnet und für den jeweiligen Artikel eingetragen. </p>
        <p> Des Weiteren ist es möglich zum Original Artikel zu gehen, indem Sie auf den Titel des Artikel klicken.</p>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<center>
    <b> Tonfall der Kommentare/Antworten </b>
</center>
<center>
    <div style="display: inline-block; width:30%;">
        <canvas id="caChart" width="300" height="300"></canvas>
    </div>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
    </script>
    <script>
        var ctx = document.getElementById('caChart').getContext('2d');
        var ctone = [[${ctone}]];
        var avg_ctone = [[${avg_ctone}]];
        var atone = [[${atone}]];
        var avg_atone = [[${avg_atone}]];
        var caChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ["Analytical", "Anger", "Confident", "Fear", "Joy", "Sadness", "Tentative"],
                datasets: [{
                    label: "ctone",
                    data: Object.keys(ctone).map(function(key) {
                        return ctone[key];}),
                    backgroundColor: 'rgba(0,255,0,1)',
                    borderColor: 'rgb(0,0,0)',
                    borderWidth: 2
                }, {
                    label: "avg_ctone",
                    data: Object.keys(avg_ctone).map(function (key) {
                        return avg_ctone[key];}),
                    backgroundColor: 'rgba(0,255,128,1)',
                    borderColor: 'rgb(0,0,0)',
                    borderWidth: 2,
                }, {
                    label: "atone",
                    data: Object.keys(atone).map(function(key) {
                        return atone[key];}),
                    backgroundColor: 'rgba(255,0,0,1)',
                    borderColor: 'rgb(0,0,0)',
                    borderWidth: 2
                }, {
                    label: "avg_atone",
                    data: Object.keys(avg_atone).map(function (key) {
                        return avg_atone[key];}),
                    backgroundColor: 'rgba(255,128,0,1)',
                    borderColor: 'rgb(0,0,0)',
                    borderWidth: 2,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</center>

<br><br>
<div class="flex">
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Tone Anger</th>
            <th>Tone Joy</th>
            <th>Tone Sadness</th>
        </tr>
        <tr th:each="Article : ${katArt}">
            <td class="table-content"><a th:href="@{./articleDetail(articleDetail=${Article.getId()})}"><p th:text="${Article.getId()}"></p></a></td>
            <td><a th:href="@{${Article.getUrl()}}" target="_blank"><p th:text="${Article.getTitle()}"></p></a></td>
            <td><p th:text="${Article.getId()}"></p>anger</td>
            <td><p th:text="${Article.getId()}"></p>joy</td>
            <td><p th:text="${Article.getId()}"></p>Sadness</td>
        </tr>
    </table>
</div>
</body>
</html>