<!--Das ist die Seite, die die Artikel anzeigt.
 Malin Schultz-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <p class="titlesmall">Artikelanalyse zu</p><br><p class="about" th:text="${katName}"></p>
</header>

<body>
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Kategorie
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:each="chooseKatSel : ${katList}"
               th:value="${chooseKatSel.katName}"
               th:utext="${chooseKatSel.katName}" th:href="@{./chooseKatSel(chooseKatSel=${chooseKatSel.katName})}"></a>
        </div>
    </div>
    <a style="float: right;" class="btn" href="./index.html">zurück</a>
</div>
<center>
    <b> avg_comment/answer_tone of </b>  <br><p class="about" th:text="${katName}"></p>
</center>
<center> <div style="display: inline-block; width:30%;">
    <canvas id="av_cat_Chart" width="300" height="300"></canvas>
</div>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
    </script>
    <script>
        var ctx = document.getElementById('av_cat_Chart').getContext('2d');
        var av_ctone = [[${av_ctone}]];
        var av_atone = [[${av_atone}]];
        var av_cat_Chart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ["Analytical", "Anger", "Confident", "Fear", "Joy", "Sadness", "Tentative"],
                datasets: [{
                    label: "comment_tone",
                    data: Object.keys(av_ctone).map(function(key) {
                        return av_ctone[key];}),
                    backgroundColor: 'rgba(255,0,0,1)',
                    borderColor: 'rgba(255,0,0,1)',
                    borderWidth: 1
                }, {
                    label: "answer_tone",
                    data: Object.keys(av_atone).map(function (key) {
                        return av_atone[key];}),
                    backgroundColor: 'rgba(32,189,57,1)',
                    borderColor: 'rgba(32,189,57,1)',
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</center>


<br><br>
<div class="flex">
    <table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <!--<th>Comment Tone</th>
        <th>Answer Tone</th>-->
    </tr>
       <tr th:each="Article : ${katArt}">
            <td th:text="${Article.getId()}"></td>
            <td><a th:href="@{${Article.getUrl()}}" target="_blank"><p th:text="${Article.getTitle()}"></p></a></td>
           <!--<td th:utext="${Article.getCTone()}"></td>
           <td th:utext="${Article.getATone()}"></td>-->
       </tr>
   </table>
</div>
</body>
</html>