<!--Hier können Kategorien ausgewählt werden.
 Malin Schultz-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <p class="titlesmall">Artikelanalyse</p>
    <p class="about">wähle eine Kategorie aus</p>
    <div align="right"><a class="btn" href="index.html">zurück</a></div>
</header>
<body>
<form action="chooseKatSel">
    <select name="chooseKatSel">
        <option value="">Kategorie</option>
        <option th:each="chooseKatSel : ${katList}"
                th:value="${chooseKatSel.katName}"
                th:utext="${chooseKatSel.katName}">
        </option>
    </select>
    <br><br>
    <input class="button buttonblack" name="submit" type="submit" value="submit" />
</form>
</body>
</html>