<!--Das ist die Seite, die die Personen anzeigt.
 Malin Schultz-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<header>
    <img src="MM-2.JPG" width="400">
    <ul>
        <li><a style="color: whitesmoke" href="./">MM</a></li>
        <li><a href="./articleStart">Artikel</a></li>
        <li><a href="./user">Personen</a></li>
        <li><a href="./">Zurück</a></li>
    </ul>
</header>

<body>
    <p class="titlesmall">Personenanalyse</p>

<div class="flex">
    <p class="about">Wähle hier eine Person aus, um ihr Diskussionsverhalten zu untersuchen:</p>
</div>
<div class="flex">
    <table id="userTable">
        <script src="https://www.w3schools.com/lib/w3.js"></script>

        <tr>
            <th>ID</th>
            <th class="w3-dark-grey w3-hover-black table-head-sort" onclick="w3.sortHTML('#userTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Ärger &#x25B2;&#x25BC;</th>
            <th class="w3-dark-grey w3-hover-black table-head-sort" onclick="w3.sortHTML('#userTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">Freude &#x25B2;&#x25BC;</th>
            <th class="w3-dark-grey w3-hover-black table-head-sort" onclick="w3.sortHTML('#userTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Trauer &#x25B2;&#x25BC;</th>
        </tr>
        <tr class="item" th:each="User : ${userlist}">
            <td><a th:href="@{./userDetail(userDetail=${User.getName()})}"><p th:text="${User.getName()}"></p></a></td>
            <td><p th:text="${User.getAnger()}"></p></td>
            <td><p th:text="${User.getJoy()}"></p></td>
            <td><p th:text="${User.getSadness()}"></p></td>
        </tr>
    </table>
</div>
<!-- Trigger/Open The Modal -->
<button style="position: absolute; right: 3%; top: 3%;"
        id="myBtn">&#9432;</button>

<!-- The Modal -->
<div id="userModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <header>
            <h2 style="color:white"> Hilfe </h2>
        </header>
        <span class="close">&times;</span>
        <p> Wählen Sie hier einen User, von dem Sie genauere Informationen und Analyseergebnisse haben wollen, aus. Klicken Sie dafür auf eine der ID's.</p>
        <p> Sie können sich außerdem die User nach den drei gegebenen Tones sortieren lassen.</p>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("userModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>