<!--Das ist die Seite, die die Personen anzeigt.
 Malin Schultz-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<header>
    <p class="titlesmall">Personenanalyse</p>
    <div align="right"><a class="btn" href="index.html">zurück</a></div>
</header>

<body>
<center> <div style="width:30%;">
    <canvas id="myChart" width="300" height="300"></canvas>
</div>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
    </script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: ["Analytical", "Anger", "Confident", "Fear", "Joy", "Sadness", "Tentative"],
            datasets: [{
                label: "comment_tone",
                data: [0.781239 , 1, 0.702673, 0.583166, 0.587752, 0.581369, 0.760855],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
</center>
<div class="flex">
    <p class="about">Wähle hier eine Person aus, um ihr Diskussionsverhalten zu untersuchen:</p>
</div>
<div class="flex">
    <table>
        <tr>
            <th>PersonenID</th>
           <!--<th></th>-->
        </tr>
        <tr th:each="username : ${userlist}">
            <!--<td th:text="${username}"></td>-->
            <!--<td><a th:href="'./userDetail'+'?'+'userDetail='${username}"></a><p>Info</p></td>-->
            <td><a th:href="@{./userDetail(userDetail=${username})}"><p th:text="${username}"></p></a></td>
        </tr>
    </table>
</div>
    <form>
        <div align="right"><a class="btn" href="./userDetail">Details</a></div>
    </form>
</body>
</html>