<!--Das ist die Seite, die die Personen anzeigt.
 Malin Schultz-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <p class="titlesmall">Personenanalyse zu <!-- Hier ID einfügen <p th:text="${Kat.getKatName()}" --> </p>
    <div align="right"><a class="btn" href="../static/index.html">zurück</a></div>
</header>
<body>

</body>
</html>