<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>base.camp: mirror mining</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<header>
    <p class="titlesmall">Personenanalyse zu</p><br><br>
    <p class="about" th:text="${userid}"></p>
    <div align="right"><a class="btn" href="./user">zurück</a></div>
</header>
<body>
<div class="flex">
    <div class="flex-item" style="display: inline-block; width:30%;">
    <b> Durchschnitts-Tonfall der Kommentare  </b>
    </div>

    <div class="flex-item" style="display: inline-block; width:30%;">
    <b> Persönlichkeits-Einsichten </b>
    </div>
</div>
<center> <div style="display: inline-block; width:30%;">
    <canvas id="myChart" width="300" height="300"></canvas>
</div>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
    </script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var user_cdata = [[${user_c}]];
        var user_adata = [[${user_a}]];
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ["Analytisch", "Wut", "Selbstbewusst", "Furcht", "Freude", "Traurigkeit", "Zaghaftigkeit"],
                datasets: [{
                    label: "Kommentar Tonfall",
                    data: Object.keys(user_cdata).map(function(key) {
                        return user_cdata[key];}),
                    backgroundColor: 'rgba(255,140,0,1)',
                    borderColor: 'rgb(255,140,0,1)',
                    borderWidth: 1
                }, {
                    label: "Antworten Tonfall",
                    data: Object.keys(user_adata).map(function (key) {
                        return user_adata[key];}),
                    backgroundColor: 'rgba(32,189,57,1)',
                    borderColor: 'rgba(32,189,57,1)',
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <div class= "flex-item" style="display: inline-block; width:30%;">
        <canvas id="piChart" width="300" height="300"></canvas>
    </div>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
    </script>
    <script>
        var ctx = document.getElementById('piChart').getContext('2d');
        var pidata = [[${user_pi}]];
        var piChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ["Offenheit", " Gewissenhaftigkeit", "Extraversion", "Verträglichkeit", " Neurotizismus"],
                datasets: [{
                    label: "Persönlichkeits-Einsichten",
                    data: Object.keys(pidata).map(function(key) {return pidata[key];}),
                    backgroundColor: 'rgba(255,243,0,1)',
                    borderColor: 'rgb(255,243,0,1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</center>
</body>
</html>
